.select2-container--bootstrap .select2-selection {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    margin: 0;
}

.form-group.has-error .select2-container--bootstrap .select2-selection {
    border-color: #dd4b39;
}